@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-purple-500: hsl(259, 100%, 65%);
  --primary-red-400: hsl(0, 100%, 67%);

  --white: hsl(0, 100%, 100%);
  --grey-100: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-500: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 0%);

  --font-size-inputs: 32px;
}

body {
  background-color: var(--grey-100);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding: 12px;
}