.input-groups {
  display: flex;
  gap: 12px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 0.5rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: var(--grey-500);
}

input {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  border: 1.5px solid var(--grey-200);
  padding: 12px 10px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

input::placeholder {
  color: var(--grey-200);
}

input:hover {
  border-color: var(--primary-purple-500);
}

input:focus {
  border-color: var(--primary-purple-500);
}

.input-err {
  border-color: var(--primary-red-400);
}

.error {
  font-size: 0.5rem;
  color: var(--primary-red-400);
}

@media (min-width: 426px) {
  .input-groups {
    width: 300px;
  }

  .input input {
    height: 40PX;
    border-width: 1px;
  }
}